@model IEnumerable<Doctor_Appointment.Models.DailyAvailbility>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.starttime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isavailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.starttime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isavailable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Dayid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Dayid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Dayid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
