@model Doctor_Appointment.Models.Appointment;

@{
    ViewData["Title"] = "Details";

}
<div class="px-5">
<br />
@*<table  class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dailyAvailbility.date)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AppointmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  @Html.DisplayFor(model => model.patient.FullName)</td>
            <td>   @Html.DisplayFor(model => model.dailyAvailbility.date)</td>
            <td>  @Html.DisplayFor(model => model.AppointmentType)</td>
            <td>   @Html.DisplayFor(model => model.MedicalHistory)</td>
        </tr>
    </tbody>
</table>*@

<section class="section confirmation">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
          <div class="confirmation-content text-center">
             
            <i class="icofont-check-circled text-lg text-color-2"></i>
                
              <h2 class="mt-3 mb-4">Thank you for your appoinment</h2>
                 
                  
              <p>We will contact with you soon.</p>
              <br />
                    <a class="btn btn-main btn-round-full" asp-controller="Home" asp-action="Index">Back to Home<i class="icofont-simple-right ml-2"></i></a>
          </div>
      </div>
    </div>
  </div>
</section>
</div>

@*<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doctor.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patient.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dailyAvailbility.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dailyAvailbility.date)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalHistory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.appointmentID">Edit</a> |
    <a asp-controller="Home" asp-action="SpecialistFilter">Back to Doctors List</a>
</div>*@
