@model Doctor_Appointment.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block text-center">
					<span class="text-white">Doctor Details</span>
					<h1 class="text-capitalize mb-5 text-lg">@Model.FullName</h1>

				</div>
			</div>
		</div>
	</div>
</section>


<section class="section doctor-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="doctor-img-block">
					<img src=@Model.GetImage() alt="" class="img-fluid w-100">

					<div class="info-block mt-4">
						<h4 class="mb-0">@Model.FullName</h4>
						<p>@Model.GetSpecializationDescription()</p>

						<ul class="list-inline mt-4 doctor-social-links">
							<li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-8 col-md-6">
				<div class="doctor-details mt-4 mt-lg-0">
					<h2 class="text-md">Introducing to myself</h2>
					<div class="divider my-4"></div>
					<p>@Model.Description</p>

					<p>Email: @Model.Email</p>
					<p> Degree: @Model.Degree</p>
					<p>Location: @Model.Clinic_Location</p>
					<p>Phone: @Model.Clinic_PhonNum</p>
					<p>Price: @Model.Price</p>
					<p>Waiting Time: @Model.WatingTime</p>
					<p>Home Examinatin: @Model.HomeExamination</p>
					@*<p>AvilableDay: @Model.dailyAvailbility.date</p>
					<p>StartTime: @Model.dailyAvailbility.starttime</p>
					<p>EndTime: @Model.dailyAvailbility.endtime</p>*@

					@*href="appoinment.html"
					@*<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>*@
					<a class="btn btn-main-2 btn-round-full mt-3" asp-area="" asp-route-Docid="@Model.DoctorID" asp-controller="Appointments" asp-action="Create">Make an Appoinment<i class="icofont-simple-right ml-2  "></i></a>
					<a class="btn btn-main-2 btn-round-full mt-3" asp-area="" asp-controller="Doctors" asp-action="Index">Back to List<i class="icofont-simple-right ml-2  "></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section doctor-qualification gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="section-title">
					<h3>My Educational Qualifications</h3>
					<div class="divider my-4"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="edu-block mb-5">
					<span class="h6 text-muted">Year(2005-2007) </span>
					<h4 class="mb-3 title-color">MBBS, M.D at University of Wyoming</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
				</div>

				<div class="edu-block">
					<span class="h6 text-muted">Year(2007-2009) </span>
					<h4 class="mb-3 title-color">M.D. of Netherland Medical College</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="edu-block mb-5">
					<span class="h6 text-muted">Year(2009-2010) </span>
					<h4 class="mb-3 title-color">MBBS, M.D at University of Japan</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
				</div>

				<div class="edu-block">
					<span class="h6 text-muted">Year(2010-2011) </span>
					<h4 class="mb-3 title-color">M.D. of Canada Medical College</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section doctor-skills">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h3>My skills</h3>
				<div class="divider my-4"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In architecto voluptatem alias, aspernatur voluptatibus corporis quisquam? Consequuntur, ad, doloribus, doloremque voluptatem at consectetur natus eum ipsam dolorum iste laudantium tenetur.</p>
			</div>
			<div class="col-lg-4">
				<div class="skill-list">
					<h5 class="mb-4">Expertise area</h5>
					<ul class="list-unstyled department-service">
						<li><i class="icofont-check mr-2"></i>International Drug Database</li>
						<li><i class="icofont-check mr-2"></i>Stretchers and Stretcher Accessories</li>
						<li><i class="icofont-check mr-2"></i>Cushions and Mattresses</li>
						<li><i class="icofont-check mr-2"></i>Cholesterol and lipid tests</li>
						<li><i class="icofont-check mr-2"></i>Critical Care Medicine Specialists</li>
						<li><i class="icofont-check mr-2"></i>Emergency Assistance</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="sidebar-widget  gray-bg p-4">
					<h5 class="mb-4">Make Appoinment</h5>

					<ul class="list-unstyled lh-35">
						<li class="d-flex justify-content-between align-items-center">
							<a href="#">Monday - Friday</a>
							<span>9:00 - 17:00</span>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<a href="#">Saturday</a>
							<span>9:00 - 16:00</span>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<a href="#">Sunday</a>
							<span>Closed</span>
						</li>
					</ul>

					<div class="sidebar-contatct-info mt-4">
						<p class="mb-0">Need Urgent Help?</p>
						<h3 class="text-color-2">+23-4565-65768</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



































@*<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.specialist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.specialist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic_Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinic_Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic_PhonNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinic_PhonNum)
        </dd>
               <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dailyAvailbility.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dailyAvailbility.date)
        </dd>
                <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dailyAvailbility.starttime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dailyAvailbility.starttime)
        </dd>
                <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dailyAvailbility.endtime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dailyAvailbility.endtime)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WatingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WatingTime)
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeExamination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeExamination)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Create" asp-controller="Appointments" asp-route-id="DoctorID" asp-route-AppId="PatientID">Book</a> |
    <a asp-controller="Home" asp-action="SpecialistFilter">Back to List</a>
</div>
*@